  
{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron text-center">
    <h1 class="display-3">Enlaces</h1>
    <p class="lead">
        Link in bio.
    </p>
    <h4>
        developed by {{developer}}
    </h4>

</div>

<ul class="list-group">
    {% for name,link in links.items() %}
        <li class="list-group-item text-center">
            <a href="{{link}}" >{{name}} </a>
            <span class="badge badge-pill badge-primary">{{age}}</span>
        </li>
    {% endfor %}
</ul>

{% endblock %}